.vs/*
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
bin
obj
*.user
*.suo
/Web Apps/HIMS.API/Controllers/Masters/ScheduleController.cs
/Web Apps/HIMS.API/Controllers/OutPatient/AppointmentController.cs
